@font-face {
    font-family: 'Philly Sans';
    src: url('fonts/PhillySans-Regular.woff2') format('woff2'),
        url('fonts/PhillySans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat Regular'), url('fonts/Montserrat-Regular.woff') format('woff');
    }

    
@font-face {
    font-family: 'Jersey M54';
    src: url('fonts/JerseyM54.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

h1.title{
    color: #32936f;
    text-align: center;
    font-family: "Philly Sans", sans-serif;
    font-size: 64px;
    margin-top: -10px;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -175%);
    position: absolute;
}

form.addhab{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

.form-inputs{
    border-radius: 21px;
    border: 0;
    background-color: #32936f;
    padding: 10px;
}

.form-inputs.textarea{
    font-family: "Montserrat Regular";
    color: #e6e6e6;
}
.form-inputs::placeholder{
    font-style: italic;
    font-size: medium;
    opacity: 0.8;
    text-align: left;
    line-height: 0.5;
    color: #e6e6e6;
    font-family: sans-serif;
    
}

#habname {
    width:200px;
    height: 20px;
}

#habdescription {
    width:200px;
    height: 50px;
}

input:focus{
    outline: none;
}

h2.subtitle {
    color: #32936f;
    text-align: center;
    font-family: "Philly Sans", sans-serif;
    font-size: 32px;
    margin-bottom: -5px;

}

body {
    background: #e6e6e6;

}

button.add {
    background-color: #32936f;
    color: #e6e6e6;
    border-radius: 5px;
    font-family: sans-serif;
    width: 85px;
    outline: none;
    border: 0;
    align-self: center;
    padding: 5px;
}

h3.habit {
    font-family: "Philly Sans";
    color: #32936f;
    margin-top: 3px;
    margin-left: 3px;
    font-weight: bolder;
}

p.habdesc {
    font-family: "Montserrat Regular";
    font-size: medium;
    font-style: italic;
    margin-top: -8px;
}
div.allhabits {
    margin-top: 375px;
}

div.habitcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;            
    background-color: #dcdcdc;
    border-radius: 5px;
    gap: 5px;
    padding: 10px;
    margin-bottom: 15px;
    
}

div.buttoncontainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
}


button.increase {
    background-color: #32936f;
    border-radius: 5px;
    color: #e6e6e6;
    border:none;
    width: 30px;
    height: 30px;
}

button.delete {
    background-color: #32936f;
    border-radius: 5px;
    color: #e6e6e6;
    border:none;
    width: 30px;
    height: 30px;
}

div.habinfo {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

p.streak {
    font-family: "Montserrat Regular";
    font-size: medium;
    font-style: italic;
}

div.streakcontainer {
    position: relative;
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
}

.fa-fire {
    color: #ff8c00;
    font-size: 32px;
    z-index: 1;
    position: relative;
}

.streakvalue {
    font-family: "Philly Sans";
    font-size: 18px;
    z-index: 2;
    position: absolute ;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-weight: bolder;
    color: #e6e6e6;
}

.streakbg {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 20px;
    width: 20px;
    background-color: #ff8c00;
    border-radius: 50%;
    transform: translate(-50%,-50%);
    z-index: 0;
}


.fcontainer {
    width: 500px;
    background-color: #ffffff; 
    border-radius: 8px; 
    margin: 50px auto; 
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    height: 600px;
}

.lrform {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

input.lrform-inp {
    border-color: black;
    border-width: 3px;
    border-radius: 8px;
    margin-bottom: 10px;
    height: 50px;
    width: 300px;
    border-style: solid;
    
}

.lrform-inp::placeholder{
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    font-family: "Philly Sans", sans-serif;
    color: #141414;
}

h2.lrhead {
    color: #32936f;
    text-align: center;
    font-family: "Philly Sans", sans-serif;
    font-size: 64px;
    margin-bottom: 80px;
    
}

.new{
    color: #32936f;
    text-align: center;
    font-family: "Philly Sans", sans-serif;
    margin-top:80px;
    
}

.rslink {
    display: inline-block;          
    padding: 10px 20px;

    border-radius: 8px;
    background-color: #32936f;

    font-family: "Philly Sans", sans-serif;
    font-size: 20px;
    color: #e6e6e6;

    text-decoration: none;          
    text-align: center;

    cursor: pointer;                
    transition: background-color 0.2s ease, transform 0.2s ease;

}

.rslink:hover {
    background-color: #2a7c5d;
    transform: translateY(-2px);
}

.rslink:active {
    transform: translateY(0);
}


.lrbutton {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: #32936f;
    

    font-family: "Philly Sans", sans-serif;
    font-size: 20px;
    color: #e6e6e6;

    text-decoration: none;          
    text-align: center;

    margin-top: 40px;
    cursor: pointer;                
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.lrbutton:hover {
    background-color: #2a7c5d;
    transform: translateY(-2px);
}

.lrbutton:active {
    transform: translateY(0);
}

.logoutbutton {
    border: none;
    border-radius: 8px;
    background-color: #32936f;
    border: none;
    

    font-family: "Philly Sans", sans-serif;
    font-size: 5px;
    color: #e6e6e6;

    text-decoration: none;          
    text-align: center;

    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;                
    transition: background-color 0.2s ease, transform 0.2s
}

.logoutbutton:hover {
    background-color: #2a7c5d;
    transform: translateY(-2px);
}

.logoutbutton:active {
    transform: translateY(0);
}