@font-face {
    font-family: 'Philly Sans';
    src: url('fonts/PhillySans-Regular.woff2') format('woff2'),
        url('fonts/PhillySans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat Regular'), url('fonts/Montserrat-Regular.woff') format('woff');
    }

h1.title{
    color: #32936f;
    text-align: center;
    font-family: "Philly Sans", sans-serif;
    font-size: 64px;
    margin-top: -10px;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -115%);
    position: absolute;
}

form.addhab{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

input[type="text"] {
    border-radius: 21px;
    border: 0;
    background-color: #32936f;
    padding: 10px;
}
input[type="text"]::placeholder{
    font-style: italic;
    font-size: medium;
    opacity: 0.8;
    text-align: left;
    line-height: 0.5;
    color: #e6e6e6;
    font-family: sans-serif;
    
}

#habname {
    width:200px;
    height: 20px;
}

#habdescription {
    width:200px;
    height: 50px;
}

input:focus{
    outline: none;
}

h2.subtitle {
    color: #32936f;
    text-align: center;
    font-family: "Philly Sans", sans-serif;
    font-size: 32px;
    margin-bottom: -5px;

}

body {
    background: #e6e6e6;

}

button.add {
    background-color: #32936f;
    color: #e6e6e6;
    border-radius: 5px;
    font-family: sans-serif;
    width: 85px;
    outline: none;
    border: 0;
    align-self: center;
    padding: 5px;
}

h3.habit {
    font-family: "Montserrat Regular";
    color: #32936f;
    margin-top: 3px;
    margin-left: 3px;
}

p.habdesc {
    font-family: "Montserrat Regular";
    font-size: medium;
    font-style: italic;
}
div.allhabits {
    margin-top: 260px;
}

div.habitcointainer {
    display:absolute;
    background-color: #A5A9B4;
    border-radius: 5px;
}

div.buttoncontainer {
    display: flex;
    justify-content: right;
    flex-direction: column;
    gap: 5px;

}

button.increase {
    background-color: #32936f;
    border-radius: 5px;
    color: #e6e6e6;
    border:none;
    width: 30px;
    height: 30px;
}

button.delete {
    background-color: #32936f;
    border-radius: 5px;
    color: #e6e6e6;
    border:none;
    width: 30px;
    height: 30px;
}
