<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel ="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
    <script src="https://kit.fontawesome.com/7dde2b3111.js" crossorigin="anonymous"></script>
</head>
<body>
    <h1 class="title">HabTrack</h1>
    <div class="container">
        <form class="addhab" action="/submit" method="post" autocomplete="off">
            <h2 class="subtitle">Add Habit</h2>
            <input type="text" placeholder="Habit name" id="habname" name="habname">
            <input type="text" placeholder="Habit description" id="habdescription" name="habdescription">
            <button class="add" type="submit">Add Habit</button>
        </form>
        
    </div>

    <div class="allhabits">
        {% for key, value in habits.items() %}
        <div class="habitcontainer">
            <div class="habinfo">
              <h3 class="habit">{{ value['habit'] }}</h3>
              <p class="habdesc">{{ value['description'] }}</p>
              <div class="streakcontainer">
                <div class="streakbg"></div>
                <div class="streakicon"><i class="fa-solid fa-fire"></i></div>
                <div class="streakvalue">{{ value['streak'] }}</div>
              </div>
            </div>
            <form action="/update" method="post">
                <input type="hidden" name="habit_id" value="{{ value['habit'] }}">
              <div class="buttoncontainer">
                <button class="increase" type="submit" name="action" value="increase"><i class="fa-solid fa-plus"></i></button>
                <button class="delete" type="submit" name="action" value="delete"><i class="fa-solid fa-trash"></i></button>
              </div>
            </form>
          </div>
          
    {% endfor %}
    </div>
</body>
</html>
