<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="fcontainer">
        <h2 class="lrhead">Log In</h2>
        <form class="lrform" method="POST">
            <input class="lrform-inp" type="text" name="username" placeholder="Username" autocomplete="off" required>
            <input class="lrform-inp"type="password" name="password" placeholder="Password" autocomplete="off" required>
            <button class="lrbutton" type="submit">Login</button>
        </form>
        <p class="new">Dont have an account?</p>
        <a href="{{ url_for('register') }}" class="rslink">Register</a>
    </div>
</body>
</html>